In [3]:
#열별 평균값 산출
import os 
import pandas as pd

base_url = 'C:/Users/scsoo/OneDrive/바탕 화면/sample-data-master/sample-data-master/anime/'
anime_master_csv = os.path.join(base_url, 'anime_master.csv')
df = pd.read_csv(anime_master_csv)

df.mean(numeric_only = True)

anime_id    14055.982035
episodes       13.939156
rating          6.507956
members     18924.950769
dtype: float64

In [5]:
#Series의 합계값 산출
df['members'].sum()

190668879

In [7]:
df.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama',"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [11]:
#기본 통계량 산출하기
#기본 통계량
df.describe().round(1)

       anime_id  episodes   rating    members
count   10075.0   10075.0  10075.0    10075.0
mean    14056.0      13.9      6.5    18925.0
std     11294.9      50.8      1.1    57117.5
min         1.0       1.0      1.7       12.0
25%      3431.0       1.0      5.9      177.0
50%     10526.0       1.0      6.6     1227.0
75%     24438.0      13.0      7.3    10254.0
max     34519.0    1818.0     10.0  1013917.0

In [19]:
#3기본 통계량 백분위수 변경
df.describe(percentiles = [0.1, 0.9]).round(1)

       anime_id  episodes   rating    members
count   10075.0   10075.0  10075.0    10075.0
mean    14056.0      13.9      6.5    18925.0
std     11294.9      50.8      1.1    57117.5
min         1.0       1.0      1.7       12.0
10%      1259.4       1.0      5.1       74.0
50%     10526.0       1.0      6.6     1227.0
90%     31190.0      37.0      7.8    47587.6
max     34519.0    1818.0     10.0  1013917.0

In [21]:
#문자열형 기본 통계량
df[['genre', 'type']].describe()

         genre   type
count    10075  10075
unique    2735      6
top     Comedy     TV
freq       500   3330