In [9]:
import pandas as pd

ser = pd.Series([1,2,3], index = ['a','b','c'])
ser

a    1
b    2
c    3
dtype: int64

In [19]:
ser = pd.Series([1,2,3])
ser
ser.loc['b']

KeyboardInterrupt

In [23]:
import pandas as pd

ser = pd.Series([1,2,3], index = ['a','b','c'])
ser.loc['b']

2

In [25]:
ser.loc['b':'c']

b    2
c    3
dtype: int64

In [29]:
ser.loc[['a','c']]

a    1
c    3
dtype: int64

In [31]:
ser.iloc[1]

2

In [33]:
ser.iloc[1:3]

b    2
c    3
dtype: int64

In [35]:
ser.loc[[True, False, True]]

a    1
c    3
dtype: int64

In [37]:
ser != 2

a     True
b    False
c     True
dtype: bool

In [39]:
ser.loc[ser!=2]

a    1
c    3
dtype: int64

In [41]:
import pandas as pd

df = pd.DataFrame(
    [[1, 10, 100],[2,20,200],[3,30,300]],
    index = ['r1','r2','r3'],
    columns = ['c1','c2','c3'])
df

    c1  c2   c3
r1   1  10  100
r2   2  20  200
r3   3  30  300

In [45]:
df.loc['r2','c2']

20

In [49]:
df.loc['r2',:]

c1      2
c2     20
c3    200
Name: r2, dtype: int64

In [53]:
df.loc[:, 'c2']

r1    10
r2    20
r3    30
Name: c2, dtype: int64

In [57]:
df.loc[['r1','r3'], 'c2':'c3']

    c2   c3
r1  10  100
r3  30  300

In [61]:
df.iloc[1:3,[0,2]]

    c1   c3
r2   2  200
r3   3  300

In [65]:
df['c2']

r1    10
r2    20
r3    30
Name: c2, dtype: int64

In [67]:
df > 10

       c1     c2    c3
r1  False  False  True
r2  False   True  True
r3  False   True  True

In [71]:
df.loc[df['c2'] > 10]

    c1  c2   c3
r2   2  20  200
r3   3  30  300

In [73]:
df.loc[(df['c1'] > 1) & (df['c3'] < 300)]

    c1  c2   c3
r2   2  20  200